
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-headphones:before { content: '\e802'; } /* '' */
.icon-folder-open:before { content: '\e803'; } /* '' */