$prata: 'Prata', serif;
$franklin:' franklin-gothic-urw', sans-serif;
$lato: 'Lato', sans-serif;
$oldstd: 'Old Standard TT', serif;
$montserrat: 'Montserrat', sans-serif;

$goldenrod: #edce2e;
$offblack: #231f20;

// Breakpoints
$bp4: 400px;
$bp5: 500px;
$bp6: 600px;
$bp7: 700px;
$bp8: 800px;
$bp9: 900px;
$bp10: 1000px;