@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fontello/css/fontello";
@import "bootstrap/bootstrap";

$c-base: $darkBlue;
$c-a-offBase: $lightBlue;

$c-text: white;
$c-a-00: white;
$c-a-01: $c-a-offBase;
$c-a-02: $grayBlue;
html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: $c-base;
	color: $c-text;
	font-family: $franklin;
	font-size: 14px; // body-level font size for "em"-scaled designs
	@media(min-width: $bp6) {
		font-size: 16px;
	}
	@media(min-width: $ipad + 1) {
		overflow: hidden;	
	}
}
// .container, .slidesWrapper {	
// 	width: 100%;
// 	height: 100%;
// 	@media(min-width: $ipad) {
// 		overflow: hidden;	
// 	}
// }
.navWrap {
	position: fixed;
	width: 100%;
	height: 51px;
	border-bottom: 2px solid $c-a-00;
	z-index: 1;
}
h1 {
	font-weight: 100;
	color: $c-a-01;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: .2em;
	@media(min-width: $bp4) {
		font-size: 1.75em;
	}
	@media(min-width: $bp5) {
		font-size: 2.5em;
	}
	@media(min-width: $bp6) {
		font-size: 3em;
	}
	@media(min-width: $ipad + 1) {
		font-size: 3.5œem;
	}
	span {
		color: $c-text;
		font-size: 1.5em;
		font-weight: 700;
		line-height: .5em;
		@media(min-width: $ipad + 1) {
			font-size: 1.75em;
			line-height: .75em;
		}
		@media(min-width: $bp9) {
			font-size: 2.25em;
		}
	}
}
p,a {
	font-weight: 400;
}
a {
	color: $c-a-01;
	text-decoration: none;
}
.shareTools {
	max-width: 600px;
	margin: 0 auto;
	font-size: 1.2em;
	i {
		cursor: pointer;
		margin-right: .3em;
		&:hover {
			color: $c-a-01;
		}
	}
}
.chatter {
	margin: 1em auto;
	text-align: left;
	span {
		color: $c-a-01;
		font-weight: 700;
	}
	&--first {
		margin-top: 0;	
	}
	&--intro {
		max-width: 600px;
	}
}
.slide {
	position: relative;
	min-height: 100vh;
	padding: 60px .5em;
	overflow: hidden;
	@media(min-width: $ipad + 1) {
		height: 100vh;
		overflow-y: scroll;	
	}
	.slideContentWrapper{
		max-width: 900px;
		margin: 0 auto;	
	}
	h3 {
		display: inline-block;
		margin: .5em 0 0 0;
		color: $c-a-01;
		border-bottom: solid 1px $c-a-01;
		font-size: 1.75em;
		font-weight: 100;
		text-transform: uppercase;
		@media(min-width: $ipad + 1) {
			font-size: 2em;
		}
	}
	h2 {
		margin: .2em 0 0 0;
		line-height: 1em;
		font-size: 2em;
		font-weight: 700;
		text-transform: uppercase;
		@media(min-width: $ipad + 1) {
			font-size: 3em;
		}
	}
	p {
		margin-bottom: 2em;
		span {
			color: $c-a-01;
			font-weight: 700;
		}
	}
	.media, .mediaList {
		@media(min-width: $ipad + 1) {
			width: 85%;
			margin: 0 auto;
		}
	}
	.media {
		&__item {
			display: none;
			position: relative;
			&.active {
				display: block;
			}
			&--image {

			}
			&--av {
				@include aspect-ratio(16px, 9px, '.avWrap');
			}
		}
	}
	.caption {
		margin-top: .25em;
		float: right;
		text-align: left;
	}
	img {
		width: 100%;
	}
	.mediaOverlay {
		display: none;
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .7);
		z-index: 5;
	}
	.docCloud {
		position: relative;
		height: 70%;
		width: 70%;
		margin: 1em auto;
		z-index: 6;
	}
	h4 {
		text-transform: uppercase;
		font-size: 1.5em;
		margin: 1.5em 0 .25em 0;
	}
	ul {
		margin: 0;
		padding: 0;
		// text-align: center;
	}
	li {
		position: relative;
		display: inline-block;
		width: 100%;
		border-top: solid 1px $c-a-02;
		text-align: left;
		@media(min-width: $ipad + 1) {
			width: 47%;
			// border-bottom: solid 1px $c-a-02;
			&:nth-child(odd){ 
				margin-right: 2%;
			}
			&:nth-last-child(2) {
				border-bottom: solid 1px $c-a-02;
			}
		}
		&:last-child {
			border-bottom: solid 1px $c-a-02;
		}
		.mediaButton {
			display: table-cell;
			vertical-align: middle;
			height: 5em;
			cursor: pointer;
			&:hover {
				color: $c-a-01;
			}
			&.active {
				color: $c-a-01;
			}
		}
		i {
			position: absolute;
			height: 0;
			width: 3em;
			top: .5em;
			color: $c-a-01;
			font-size: 2.5em;
		}
		p {
			padding-left: 4em; 
			margin: 0;
		}
		.warning {
			font-weight: 700;
		}
	}
	.buttonsWrap {
		width: 200px;
		margin: 2em auto;
	}
	&--end {
		font-size: 18px;
		p {
			margin: 1em  0 0 1em;
			span {
				color: $c-a-00;
			}
		}
		.credits {
			margin-top: 1em;
		}
	}
}
.button {
	display: none;
	color: $c-a-01;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	@media(min-width: $ipad + 1) {
		display: block;
	}
	&--splash {
		display: block;
		margin: 2em auto;
	}
	&:hover {
		i {
			color: $c-a-01;
		}	
	}
	p {
		margin: 1em 0;
	}
	i {
		color: $c-a-00;
		font-size: 3.5em;
		left: 4px;
		@media(min-width: $ipad + 1) {
			font-size: 4.5em;
		}
	}
	&--up {
		float: left;
	}
	&--down {
		float: right;
	}
	&--exit {
		display: block;
		position: absolute;
		top: 2%;
		right: 2%;
		i {
			font-size: 2em;
		}
	}
}
.phoneImage {
	display: none;
	position: fixed;
	bottom: 0;
	right: 2%;
	width: 100%;
	z-index: -5;
	@media(min-width: $ipad + 1) {
		display: block;
	}
}
.svgWrapper {
	width: 60%;
	margin: 0 0 0 auto;
	max-width: 400px;
}
.svgPhone {
	display: block;
	width: 100%;
	margin: 0 auto;
	&__recCircle {
		&.blink {
			fill: $c-base;
		}
	}
}

/* Leaderboard */
#leaderboard {
	width: 728px;
	height: 90px;
	background-color: #222222;
	margin: 2em auto;
	text-align: center;
	@media (max-width: 730px){
		display: none;
	}
}