@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fontello/css/fontello";

body {
	font-family: $franklin;
	background-color: $offblack;
	color: white;
	font-size: 14px; // body-level font size for "em"-scaled designs
}
.container {
	margin-top: 50px; // Pushes below topnav
	border-top: .2em solid white;
	padding: 0 .5em;
}
h1 {
	font-weight: 100;
	color: $goldenrod;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	span {
		font-weight: 700;
		color: white;
		font-size: 1.5em;
	}
}
p,a {
	font-weight: 400;
}
a {
	color: $goldenrod;
	text-decoration: none;
}
.splash {

}
.chatter {
	text-align: center;
	span {
		color: $goldenrod;
		font-weight: 700;
	}
}
.button {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: $goldenrod;
	p {
		margin: 0;
	}
	i {
		color: white;
		font-size: 3em;
	}
}

/* Leaderboard */
// #leaderboard {
// 	width: 728px;
// 	height: 90px;
// 	background-color: #222222;
// 	margin: 10px auto;
// 	text-align: center;
// 	@media (max-width: 730px){
// 		display: none;
// 	}
// }